<a href="https://colab.research.google.com/github/LeCampLuke/Ejercicios-Python-Alura-/blob/main/Apuntes_py_basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comentarios de una línea:

In [ ]:
# Este es un comentario de una línea
print(10) # Podemos colocar otro comentario en una línea después de un código

10

Comentarios de varias líneas:

In [ ]:
'''
Este es un comentario
de varias líneas.
'''

'\nEste es un comentario\nde varias líneas.\n'

Encabezados:

In [ ]:
# Encabezado de nivel 1
## Encabezado de nivel 2
### Encabezado de nivel 3

Negritas e itálicas:

In [ ]:
**Texto en negritas**

In [ ]:
*Texto en cursiva*

In [ ]:
***Texto en negritas y cursiva***

Listas:

In [ ]:
* Elemento 1
* Elemento 2
* Elemento 3

In [ ]:
1. Elemento 1
2. Elemento 2
3. Elemento 3

Enlaces:

In [ ]:
[Página de Alura](https://www.aluracursos.com/)

Practicando Markdown.

# Practicando el comentario de una linea

# Encabezado 1
## Encabezado 2
### Encabezado 3

**Texto en negritas**

*Texto en cursiva*

***Texto en negritas y cursiva***

* Elemento 1
* Elemento 2
* Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

[Página de Alura](https://www.aluracursos.com/)

Durante las clases, aprendimos a sumar, restar, multiplicar y dividir variables numéricas en Python.Pero también existen otros cálculos matemáticos que se pueden realizar mediante operadores aritméticos, como la exponenciación, el módulo y la división entera.

Exponenciación (**)

In [ ]:
2**3

8

El mismo ejemplo se puede hacer con variables:

In [ ]:
operador = 2
potencia = 3
operador ** potencia

8

Módulo (%)

In [ ]:
7%3

1

O con variables:

In [ ]:
dividendo = 7
divisor = 3
dividendo % divisor

1

División entera (//)

In [ ]:
7 // 3

2

El mismo ejemplo se puede hacer con variables:

In [ ]:
numerador = 7
denominador = 3
numerador // denominador

2

Podemos visualizar el resultado de variables dentro de cadenas de texto, así como imprimir el texto final con un print. Durante la lección, aprendimos a utilizar la f-string (formateo de cadena), en la que colocamos una f antes de crear la cadena y las variables se colocan entre llaves {}. Ejemplo:

In [ ]:
nombre = 'Ana Maria'
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana Maria y su edad es 17 años.

Pero existen otros métodos de formateo, como el uso del operador de formateo de cadena o la función .format().

Operador de Formateo:

Este operador de formateo permite la inserción de variables en puntos específicos en la cadena de texto utilizando el operador %. Este operador funciona como un marcador, indicando dónde se expondrá el valor de la variable en la cadena.

El % debe ir acompañado de una palabra clave para cada tipo de variable que se desee agregar. De acuerdo con la tabla siguiente:

Tipo de Variable	Palabra Clave
Cadena de texto	%s
Entero	%d
Punto flotante	%f
Caractér	%c

In [ ]:
nombre_alumno = 'Lucas Lequepi'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Lucas Lequepi

Si tienes más de una variable, debes ordenarlas según su aparición en el texto y separarlas por comas. Por ejemplo:

In [ ]:
nombre_alumno = 'Lucas Lequepi'
edad_alumno = 34
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es de %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Lucas Lequepi, tiene 34 años y su media es de 9.950000.

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

Cuando trabajamos con números de coma flotante (float), podemos determinar la cantidad de decimales después del punto utilizando la sintaxis %.xf, donde x es el número de decimales deseados. Utilizando las mismas variables del ejemplo anterior, el código con %.xf se vería así:

In [ ]:
print('Nombre de alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre de alumno es Lucas Lequepi, tiene 34 años y su media es 9.95.

Un detalle importante es que los operadores de formateo de cadena con % no funcionan directamente con valores booleanos. Una forma de manejarlo es convirtiendo el valor booleano en una cadena antes de utilizarlo en el formateo con la función str(). Por ejemplo:

In [ ]:
x = True
print('Valor de x %s' % str(x))

Valor de x True

Método .format():

También es posible utilizar el método .format() para formatear cadenas. Es más flexible y permite pasar las variables directamente dentro de la cadena, sin necesidad de operadores %. Los marcadores son simplemente {}. Por ejemplo:

In [ ]:
nombre_alumno = 'Lucas Lequepi'
print('Nombre del alumno: {}' .format(nombre_alumno))

Nombre del alumno: Lucas Lequepi

In [ ]:
nombre_alumno = 'Lucas Lequepi'
edad_alumno = 34
media_alumno = 9.95
print('Nombre del alumno {}, tiene {}, y su promedio es {}' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno Lucas Lequepi, tiene 34, y su promedio es 9.95

Caracteres Especiales:

Además de la formateo de inserción de variables en una cadena, también existen caracteres especiales. Se utilizan para representar acciones especiales o caracteres que no se pueden escribir directamente, como el “Enter” y la tabulación. A continuación, presentamos algunos de ellos. Intenta replicar todos los ejemplos y observa el resultado final.

\n es el carácter de nueva línea y se usa para saltar una línea en el texto (similar a la función "Enter"). Ejemplo:

In [ ]:
print('Estudiar es un esfuerzo constante, \nEs como cultivar una planta, \nNecesitamos dedicacion y paciencia, \nPara ver madurar el fruto.')

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicacion y paciencia,
Para ver madurar el fruto.

\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto. Ejemplo:

In [ ]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

\\\ se usa para imprimir una sola barra invertida. Si no se utiliza una doble barra invertida, el código podría generar un error o un resultado inesperado, ya que Python considera \ como un carácter especial. Usamos esta sintaxis para garantizar que no ocurran errores. Ejemplo:

In [ ]:
print('Ruta del archivo: C:\\archivos\\documento.csv')

Ruta del archivo: C:\archivos\documento.csv

\\" se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles " en el interior. Sin embargo, esto no es necesario si la cadena se crea con comillas simples '. Ejemplo:

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los mas dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los mas dulces y duraderos de todos."

\\' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples '. Si la cadena se crea con comillas dobles ", esto no es necesario. Ejemplo:

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

Mayor que (>)

Devuelve verdadero si el valor a la izquierda del símbolo es mayor que el de la derecha. Su sintaxis, valor_1 > valor_2, representa una comparación que solo será verdadera si valor_1 es mayor que valor_2. Con este operador relacional, podemos verificar si una persona es mayor que otra al comparar sus edades, como se muestra en el siguiente ejemplo:

In [ ]:
x = int(input('Ingresa la edad de Maria: '))
y = int(input('Ingresa la edad de Jose:'))

if x > y:
  print('Maria es mayor que Jose.')

Ingresa la edad de Maria: 50
Ingresa la edad de Jose:45
Maria es mayor que Jose.

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')

Ingrese la edad de María: 40
Ingrese la edad de Beatriz: 45
María es menor que Beatriz.

Mayor o igual a (>=)

Devuelve verdadero si el valor a la izquierda del símbolo es mayor o igual al valor a la derecha. Su sintaxis es valor_1 >= valor_2. Esta comparación solo será verdadera si valor_1 es mayor o igual a valor_2. Con este operador relacional, podemos verificar, por ejemplo, si una empresa tiene una cantidad mayor o igual a la de otra, como se muestra a continuación:

In [ ]:
x = int(input('Ingrese la cantidad de empleados de la empresa A: '))
y = int(input('Ingrese la cantidad de empleados de la empresa B:'))

if x >= y:
  print('La empresa A tiene una cantidad de empleados mayor o igual a la empresa B.')

Ingrese la cantidad de empleados de la empresa A: 100
Ingrese la cantidad de empleados de la empresa B:90
La empresa A tiene una cantodad de empleados mayor o igual a la empresa B.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 100
Ingrese la cantidad de empleados de la empresa 2: 200
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.

Igual a (==)

Devuelve verdadero si el valor a la izquierda del símbolo es igual al valor de la derecha. Su sintaxis, valor_1 == valor_2, representa una comparación que solo será verdadera si valor_1 es igual a valor_2. Con este operador relacional, podemos verificar si dos libros tienen el mismo título mediante una comparación de cadenas, como se muestra en el siguiente ejemplo:

In [ ]:
libro_1 = input('Ingrese el titulo del primer libro: ')
libro_2 = input('Ingrese el titulo del segundo libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')

Ingrese el titulo del primer libro: Principito
Ingrese el titulo del segundo libro: Principito
Los libros tienen el mismo título.

Diferente de (!=)

Devuelve verdadero si el valor a la izquierda del símbolo es diferente del valor a la derecha. Su sintaxis, valor_1 != valor_2, representa una comparación que solo será verdadera si valor_1 es diferente de valor_2. Este operador es el inverso de ==. Con él, podemos verificar si dos libros tienen títulos diferentes mediante una comparación de cadenas, como se muestra a continuación:

In [ ]:
libro_1 = input('Ingrese el titulo del primer libro: ')
libro_2 = input('Ingrese el título del segundo libro: ')

if libro_1 != libro_2:
  print('Los libros no tienen el mismo título.')

Ingrese el titulo del primer libro: Principito
Ingrese el título del segundo libro: Princeso
Los libros no tienen el mismo título.

  Hemos estudiado algunos métodos en clase, y además de esos, podemos utilizar otros para manipular listas en Python. Vamos a conocerlos y ver ejemplos de cómo se utilizan. En todos los casos, utilizaremos la siguiente lista llamada "razas_de_perros":

In [3]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

El primer método es insert(), que permite insertar un elemento en una posición específica de la lista. La sintaxis es lista.insert(indice, elemento), donde "lista" es la lista que recibirá el nuevo elemento, "indice" es la posición donde se insertará el nuevo elemento y "elemento" es el nuevo elemento que se insertará.

In [4]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

Siguiendo este enfoque, la estructura lista.insert(len(lista), elemento) es equivalente al uso del método append(), como vimos en el video anterior titulado "Manipulación de listas".

El método pop() elimina el elemento en una posición específica de la lista y lo devuelve como salida al ejecutar el método. Solo necesitamos especificar, entre paréntesis, el índice del elemento que deseamos eliminar, y se eliminará de la lista. Por lo tanto, eliminemos la raza "Golden Retriever" que agregamos en el método anterior.

In [5]:
razas_de_perros.pop(1)

'Golden Retriever'

El método index() devuelve el índice de un elemento específico en la lista. Para hacerlo, especificamos el elemento entre paréntesis. Para encontrar el índice de la raza "Pastor Alemán" en la lista, hacemos lo siguiente:

In [6]:
razas_de_perros.index('Pastor Alemán')

2

El método sort() ordena los elementos de la lista en orden ascendente o descendente. Si son palabras, el orden se basa en el orden alfabético o en el orden inverso. Para ordenar los valores, simplemente llamamos al método sort(), y la lista se organizará en orden. Para ordenar alfabéticamente la lista de razas de perros, podemos usar el siguiente código:

In [7]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

Podemos asociar estructuras de datos a otras estructuras de datos, como ocurre cuando tenemos listas dentro de diccionarios. En este caso, las listas pueden ser almacenadas en los valores de un diccionario de tal manera que cada clave puede tener una lista asociada a ella. Esto es útil cuando necesitamos almacenar varios valores relacionados con una sola clave. Por ejemplo, podemos construir un conjunto de datos de una tienda que contenga una clave con los nombres de cada producto y otra clave con los precios correspondientes, como se muestra en el código a continuación:

In [8]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

Para acceder a los valores, podemos utilizar una estructura de bucles for:

In [9]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

El primer bucle, el más externo, recorre los elementos dentro del diccionario (claves y elementos). Sabiendo que los elementos son listas, podemos acceder a los datos de las listas con otro bucle anidado que se encuentra dentro del primer bucle. El bucle más interno recorre los elementos de cada lista uno a uno e imprime los valores dentro de ellas.

Además, podemos realizar operaciones comunes en las listas, como agregar, eliminar o contar elementos en la lista asociada a una clave del diccionario. Puedes copiar los códigos anteriores y ejecutarlos en Colab para verificar la salida.

Durante las clases, trabajamos directamente con varias funciones incorporadas que son predefinidas y están disponibles por defecto en Python. Estas funciones trabajan como herramientas útiles para llevar a cabo tareas comunes, como conversiones de tipos, operaciones matemáticas, manipulación de cadenas y más, sin necesidad de escribir código adicional.

Algunas de las funciones incorporadas que ya conocemos son: print(), input(), len(), int(), str(), float(), range(), chr(), etc. Pero hay otras además de estas que también son muy útiles, como: sum(), help() y dir(). ¿Las conocemos?

sum()

La función sum() permite sumar los elementos de una secuencia o estructura de datos. En el siguiente ejemplo, vamos a sumar los precios de productos:

In [10]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

help()

La función help() se utiliza para acceder a la documentación de funciones, métodos y otros elementos de Python. Muestra información en inglés sobre la funcionalidad, sintaxis y uso de un objeto específico. Para usar esta función, simplemente pasa el elemento deseado entre paréntesis. Por ejemplo, vamos a verificar la documentación de la función print():

In [11]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

dir()

Por último, la función dir() se utiliza para mostrar una lista de atributos y métodos asociados a un elemento. Por ejemplo, vamos a descubrir todos los atributos y métodos de una lista:

In [12]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']