<a href="https://colab.research.google.com/github/LeCampLuke/Ejercicios-Python-Alura-/blob/main/Apuntes_py_basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comentarios de una línea:

In [ ]:
# Este es un comentario de una línea
print(10) # Podemos colocar otro comentario en una línea después de un código

10

Comentarios de varias líneas:

In [ ]:
'''
Este es un comentario
de varias líneas.
'''

'\nEste es un comentario\nde varias líneas.\n'

Encabezados:

In [ ]:
# Encabezado de nivel 1
## Encabezado de nivel 2
### Encabezado de nivel 3

Negritas e itálicas:

In [ ]:
**Texto en negritas**

In [ ]:
*Texto en cursiva*

In [ ]:
***Texto en negritas y cursiva***

Listas:

In [ ]:
* Elemento 1
* Elemento 2
* Elemento 3

In [ ]:
1. Elemento 1
2. Elemento 2
3. Elemento 3

Enlaces:

In [ ]:
[Página de Alura](https://www.aluracursos.com/)

Practicando Markdown.

# Practicando el comentario de una linea

# Encabezado 1
## Encabezado 2
### Encabezado 3

**Texto en negritas**

*Texto en cursiva*

***Texto en negritas y cursiva***

* Elemento 1
* Elemento 2
* Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

[Página de Alura](https://www.aluracursos.com/)

Durante las clases, aprendimos a sumar, restar, multiplicar y dividir variables numéricas en Python.Pero también existen otros cálculos matemáticos que se pueden realizar mediante operadores aritméticos, como la exponenciación, el módulo y la división entera.

Exponenciación (**)

In [ ]:
2**3

8

El mismo ejemplo se puede hacer con variables:

In [ ]:
operador = 2
potencia = 3
operador ** potencia

8

Módulo (%)

In [ ]:
7%3

1

O con variables:

In [ ]:
dividendo = 7
divisor = 3
dividendo % divisor

1

División entera (//)

In [ ]:
7 // 3

2

El mismo ejemplo se puede hacer con variables:

In [ ]:
numerador = 7
denominador = 3
numerador // denominador

2

Podemos visualizar el resultado de variables dentro de cadenas de texto, así como imprimir el texto final con un print. Durante la lección, aprendimos a utilizar la f-string (formateo de cadena), en la que colocamos una f antes de crear la cadena y las variables se colocan entre llaves {}. Ejemplo:

In [1]:
nombre = 'Ana Maria'
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana Maria y su edad es 17 años.

Pero existen otros métodos de formateo, como el uso del operador de formateo de cadena o la función .format().

Operador de Formateo:

Este operador de formateo permite la inserción de variables en puntos específicos en la cadena de texto utilizando el operador %. Este operador funciona como un marcador, indicando dónde se expondrá el valor de la variable en la cadena.

El % debe ir acompañado de una palabra clave para cada tipo de variable que se desee agregar. De acuerdo con la tabla siguiente:

Tipo de Variable	Palabra Clave
Cadena de texto	%s
Entero	%d
Punto flotante	%f
Caractér	%c

In [3]:
nombre_alumno = 'Lucas Lequepi'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Lucas Lequepi

Si tienes más de una variable, debes ordenarlas según su aparición en el texto y separarlas por comas. Por ejemplo:

In [10]:
nombre_alumno = 'Lucas Lequepi'
edad_alumno = 34
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es de %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Lucas Lequepi, tiene 34 años y su media es de 9.950000.

In [7]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

Cuando trabajamos con números de coma flotante (float), podemos determinar la cantidad de decimales después del punto utilizando la sintaxis %.xf, donde x es el número de decimales deseados. Utilizando las mismas variables del ejemplo anterior, el código con %.xf se vería así:

In [11]:
print('Nombre de alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre de alumno es Lucas Lequepi, tiene 34 años y su media es 9.95.

Un detalle importante es que los operadores de formateo de cadena con % no funcionan directamente con valores booleanos. Una forma de manejarlo es convirtiendo el valor booleano en una cadena antes de utilizarlo en el formateo con la función str(). Por ejemplo:

In [12]:
x = True
print('Valor de x %s' % str(x))

Valor de x True

Método .format():

También es posible utilizar el método .format() para formatear cadenas. Es más flexible y permite pasar las variables directamente dentro de la cadena, sin necesidad de operadores %. Los marcadores son simplemente {}. Por ejemplo:

In [13]:
nombre_alumno = 'Lucas Lequepi'
print('Nombre del alumno: {}' .format(nombre_alumno))

Nombre del alumno: Lucas Lequepi

In [14]:
nombre_alumno = 'Lucas Lequepi'
edad_alumno = 34
media_alumno = 9.95
print('Nombre del alumno {}, tiene {}, y su promedio es {}' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno Lucas Lequepi, tiene 34, y su promedio es 9.95

Caracteres Especiales:

Además de la formateo de inserción de variables en una cadena, también existen caracteres especiales. Se utilizan para representar acciones especiales o caracteres que no se pueden escribir directamente, como el “Enter” y la tabulación. A continuación, presentamos algunos de ellos. Intenta replicar todos los ejemplos y observa el resultado final.

\n es el carácter de nueva línea y se usa para saltar una línea en el texto (similar a la función "Enter"). Ejemplo:

In [15]:
print('Estudiar es un esfuerzo constante, \nEs como cultivar una planta, \nNecesitamos dedicacion y paciencia, \nPara ver madurar el fruto.')

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicacion y paciencia,
Para ver madurar el fruto.

\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto. Ejemplo:

In [16]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

\\\ se usa para imprimir una sola barra invertida. Si no se utiliza una doble barra invertida, el código podría generar un error o un resultado inesperado, ya que Python considera \ como un carácter especial. Usamos esta sintaxis para garantizar que no ocurran errores. Ejemplo:

In [17]:
print('Ruta del archivo: C:\\archivos\\documento.csv')

Ruta del archivo: C:\archivos\documento.csv

\\" se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles " en el interior. Sin embargo, esto no es necesario si la cadena se crea con comillas simples '. Ejemplo:

In [18]:
print("Una vez oí: \"Los frutos del conocimiento son los mas dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los mas dulces y duraderos de todos."

\\' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples '. Si la cadena se crea con comillas dobles ", esto no es necesario. Ejemplo:

In [19]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'